## Importing the essentials

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [75]:
df_train = pd.read_csv('dataset/train.csv')
df_test =  pd.read_csv('dataset/test.csv')

In [76]:
df_train.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [77]:
df_train = df_train.drop(columns="id", axis=1)

In [78]:
df_train.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [79]:
# understanding the overview of the dataset
print(df_train.info())
print(df_train.duplicated())
print(df_train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 19 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140700 non-null  object
 1   Gender                                 140700 non-null  object
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Working Professional or Student        140700 non-null  object
 5   Profession                             104070 non-null  object
 6   Academic Pressure                      27897 non-null   float64
 7   Work Pressure                          112782 non-null  float64
 8   CGPA                                   27898 non-null   float64
 9   Study Satisfaction                     27897 non-null   float64
 10  Job Satisfaction                       112790 non-null  float64
 11  Sleep Duration                         140700 non-null  object
 12  Dietary Habits                         140696 non-null  object
 13  Degree                                 140698 non-null  object
 14  Have you ever had suicidal thoughts ?  140700 non-null  object
 15  Work/Study Hours                       140700 non-null  float64
 16  Financial Stress                       140696 non-null  float64
 17  Family History of Mental Illness       140700 non-null  object
 18  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(10)
memory usage: 20.4+ MB
None
0         False
1         False
2         False
3         False
4         False
          ...
140695    False
140696    False
140697    False
140698    False
140699    False
Length: 140700, dtype: bool
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [80]:
df_train.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [81]:
# replacing the space with a _
df_train.rename(columns=( lambda x : x.replace(' ', '_')), inplace=True)

In [82]:
# uniques to find the anomalies in the dataset
for column in df_train.columns[1:]:
    print(f'{column} = {df_train[column].unique()}')
    print('-'*100)

Gender = ['Female' 'Male']
----------------------------------------------------------------------------------------------------
Age = [49. 26. 33. 22. 30. 59. 47. 38. 24. 42. 55. 51. 39. 29. 50. 23. 56. 45.
 37. 46. 31. 19. 28. 25. 41. 60. 18. 36. 21. 58. 44. 43. 40. 35. 54. 27.
 52. 48. 57. 53. 34. 20. 32.]
----------------------------------------------------------------------------------------------------
City = ['Ludhiana' 'Varanasi' 'Visakhapatnam' 'Mumbai' 'Kanpur' 'Ahmedabad'
 'Thane' 'Nashik' 'Bangalore' 'Patna' 'Rajkot' 'Jaipur' 'Pune' 'Lucknow'
 'Meerut' 'Agra' 'Surat' 'Faridabad' 'Hyderabad' 'Srinagar' 'Ghaziabad'
 'Kolkata' 'Chennai' 'Kalyan' 'Nagpur' 'Vadodara' 'Vasai-Virar' 'Delhi'
 'Bhopal' 'Indore' 'Ishanabad' 'Vidhi' 'Ayush' 'Gurgaon' 'Krishna'
 'Aishwarya' 'Keshav' 'Harsha' 'Nalini' 'Aditya' 'Malyansh' 'Raghavendra'
 'Saanvi' 'M.Tech' 'Bhavna' 'Less Delhi' 'Nandini' 'M.Com' 'Plata'
 'Atharv' 'Pratyush' 'City' '3.0' 'Less than 5 Kalyan' 'MCA' 'Mira'
 'Moreadhyay' 'Morena' 'Ishkarsh' 'Kashk' 'Mihir' 'Vidya' 'Tolkata' 'Anvi'
 'Krinda' 'Ayansh' 'Shrey' 'Ivaan' 'Vaanya' 'Gaurav' 'Harsh' 'Reyansh'
 'Kashish' 'Kibara' 'Vaishnavi' 'Chhavi' 'Parth' 'Mahi' 'Tushar' 'MSc'
 'No' 'Rashi' 'ME' 'Molkata' 'Researcher' 'Kagan' 'Armaan' 'Ithal'
 'Nalyan' 'Dhruv' 'Galesabad' 'Itheg' 'Aaradhya' 'Pooja' 'Khushi'
 'Khaziabad' 'Jhanvi' 'Unirar']
----------------------------------------------------------------------------------------------------
Working_Professional_or_Student = ['Working Professional' 'Student']
----------------------------------------------------------------------------------------------------
Profession = ['Chef' 'Teacher' nan 'Business Analyst' 'Finanancial Analyst' 'Chemist'
 'Electrician' 'Software Engineer' 'Data Scientist' 'Plumber'
 'Marketing Manager' 'Accountant' 'Entrepreneur' 'HR Manager'
 'UX/UI Designer' 'Content Writer' 'Educational Consultant'
 'Civil Engineer' 'Manager' 'Pharmacist' 'Financial Analyst' 'Architect'
 'Mechanical Engineer' 'Customer Support' 'Consultant' 'Judge'
 'Researcher' 'Pilot' 'Graphic Designer' 'Travel Consultant'
 'Digital Marketer' 'Lawyer' 'Research Analyst' 'Sales Executive' 'Doctor'
 'Unemployed' 'Investment Banker' 'Family Consultant' 'B.Com' 'BE'
 'Student' 'Yogesh' 'Dev' 'MBA' 'LLM' 'BCA' 'Academic' 'Profession'
 'FamilyVirar' 'City Manager' 'BBA' 'Medical Doctor'
 'Working Professional' 'MBBS' 'Patna' 'Unveil' 'B.Ed' 'Nagpur' 'Moderate'
 'M.Ed' 'Analyst' 'Pranav' 'Visakhapatnam' 'PhD' 'Yuvraj']
----------------------------------------------------------------------------------------------------
Academic_Pressure = [nan  5.  2.  3.  4.  1.]
----------------------------------------------------------------------------------------------------
Work_Pressure = [ 5.  4. nan  1.  2.  3.]
----------------------------------------------------------------------------------------------------
CGPA = [    nan  8.97    5.9     7.03    5.59    8.13    5.7     9.54    8.04
  9.79    8.38    6.1     7.04    8.52    5.64    8.58    6.51    7.25
  7.83    9.93    8.74    6.73    5.57    8.59    7.1     6.08    5.74
  9.86    6.7     6.21    5.87    6.37    9.72    5.88    9.56    6.99
  5.24    9.21    7.85    6.95    5.86    7.92    9.66    8.94    9.71
  7.87    5.6     7.9     5.46    6.79    8.7     7.38    8.5     7.09
  9.82    8.89    7.94    9.11    6.75    7.53    9.49    9.01    7.64
  5.27    6.      9.44    5.75    7.51    9.05    6.38    8.95    9.88
  5.32    6.27    7.7     8.1     9.59    8.96    5.51    7.43    8.79
  9.95    5.37    6.86    8.32    9.74    5.66    7.48    8.23    8.81
  6.03    5.56    5.68    5.14    7.61    6.17    8.17    9.87    8.75
  6.16    9.5     7.99    5.67    8.92    6.19    5.76    6.25    5.11
  5.58    5.65    9.89    8.03    6.61    9.41    8.64    7.21    8.28
  6.04    9.13    8.08    9.96    5.12    8.35    7.07    9.6     9.24
  8.54    8.78    8.93    8.91    9.04    6.83    5.85    7.74    6.41
  8.9     7.75    7.88    5.42    7.52    7.68    8.4     9.39    6.84
  5.99    8.62    8.53    7.47    6.78    6.42    9.92    8.39    5.89
  7.22    6.81    9.02    9.97    9.63    9.67    5.41    7.27    6.05
  6.85    9.33    5.81    6.53    5.98    6.02    6.74    5.26    7.72
  7.39    8.43    9.34    5.44    5.82    5.72    8.19    8.44    8.98
  9.37    5.8     7.28    7.6     7.91    9.17    7.46    9.43    9.91
  9.36    5.16    7.08    9.26    8.83   10.      7.8     9.46    6.63
  7.24    6.47    7.77    5.06    7.17    8.24    6.88    9.03    5.08
  5.45    8.46    9.19    6.36    8.73    7.11    9.12    9.4     8.11
  9.98    5.55    8.61    8.14    6.89    9.84    5.48    8.21    7.82
  8.55    5.79    8.77    8.29    6.92    7.37    9.7     6.26    7.26
  7.5     6.82    7.15    5.77    5.91    5.1     7.71    9.06    5.71
  5.84    9.42    6.23    6.29    5.25    9.69    9.9     6.39    8.09
  5.83    5.47    6.56    8.71    9.94    6.69    5.52    7.3     7.02
  6.33    8.07    8.37    8.      7.79    8.65    6.28    7.35    8.69
  7.12    7.32    7.13    5.97    5.09    6.91    6.76    6.52    7.45
  8.56    6.5     8.63    8.27    8.49    6.59    9.29    5.3     7.06
  5.38    6.65    9.16    8.01    8.25    8.02    8.47    7.34    8.88
  7.14    8.42    5.17    9.1     7.49    9.85    7.42    9.31    6.35
  7.      5.39    5.61    9.78    9.25    5.69    9.47    8.16    7.23
  6.46    8.26    6.32    6.77    8.85    5.03    7.65    5.78    6.24
  5.35    6.06    7.78    6.64    7.0625  6.98    6.44    6.09  ]
----------------------------------------------------------------------------------------------------
Study_Satisfaction = [nan  2.  5.  3.  4.  1.]
----------------------------------------------------------------------------------------------------
Job_Satisfaction = [ 2.  3. nan  1.  5.  4.]
----------------------------------------------------------------------------------------------------
Sleep_Duration = ['More than 8 hours' 'Less than 5 hours' '5-6 hours' '7-8 hours'
 'Sleep_Duration' '1-2 hours' '6-8 hours' '4-6 hours' '6-7 hours'
 '10-11 hours' '8-9 hours' '40-45 hours' '9-11 hours' '2-3 hours'
 '3-4 hours' 'Moderate' '55-66 hours' '4-5 hours' '9-6 hours' '1-3 hours'
 'Indore' '45' '1-6 hours' '35-36 hours' '8 hours' 'No' '10-6 hours'
 'than 5 hours' '49 hours' 'Unhealthy' 'Work_Study_Hours' '3-6 hours'
 '45-48 hours' '9-5' 'Pune' '9-5 hours']
----------------------------------------------------------------------------------------------------
Dietary_Habits = ['Healthy' 'Unhealthy' 'Moderate' 'Yes' 'Pratham' 'BSc' 'Gender' '3'
 'More Healthy' 'Less than Healthy' 'Mihir' '1.0' 'Hormonal' 'Electrician'
 nan 'No Healthy' 'Less Healthy' 'M.Tech' 'Vegas' 'No' 'Male' 'Indoor'
 'Class 12' '2']
----------------------------------------------------------------------------------------------------
Degree = ['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' '20' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' '0' 'LLCom' '29' 'MTech' 'Vivaan' 'BPA' 'Plumber' '5.61' 'Brit'
 'B.03' 'Ritik' '5.56' 'MEd' 'B' 'B BA' '7.06' 'B.B.Arch' 'ACA' 'Brithika'
 'CGPA' '24' 'M_Tech' 'Pihu' 'BB' 'Jhanvi' 'LLTech' 'Aarav' 'Entrepreneur'
 '8.56' 'LHM' 'Lata' 'S.Arch' 'Marsh' 'HCA' '5.88' 'B.Student' 'LL B.Ed'
 'M.S' 'Navya' 'Mahika' nan 'K.Ed' 'B.3.79' 'Mthanya'
 'Working Professional' 'Esha' 'LLS' 'LLEd' 'E.Tech' 'Doctor' 'N.Pharm'
 'LCA' 'B B.Com' 'RCA' 'Mihir' 'Advait']
----------------------------------------------------------------------------------------------------
Have_you_ever_had_suicidal_thoughts_? = ['No' 'Yes']
----------------------------------------------------------------------------------------------------
Work/Study_Hours = [ 1.  7.  3. 10.  9.  6.  8.  2.  0.  5. 12.  4. 11.]
----------------------------------------------------------------------------------------------------
Financial_Stress = [ 2.  3.  1.  4.  5. nan]
----------------------------------------------------------------------------------------------------
Family_History_of_Mental_Illness = ['No' 'Yes']
----------------------------------------------------------------------------------------------------
Depression = [0 1]
----------------------------------------------------------------------------------------------------

In [83]:
# first five of the top values
for column in df_train.columns[5:13]:
    print(f'{column} = {df_train[column].value_counts().head(5)}')
    print('-'* 100)

Profession = Profession
Teacher           24906
Content Writer     7814
Architect          4370
Consultant         4229
HR Manager         4022
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Academic_Pressure = Academic_Pressure
3.0    7463
5.0    6296
4.0    5158
1.0    4801
2.0    4179
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Work_Pressure = Work_Pressure
2.0    24373
4.0    22512
5.0    22436
3.0    21899
1.0    21562
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
CGPA = CGPA
8.04    822
9.96    425
5.74    410
8.95    371
9.21    343
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Study_Satisfaction = Study_Satisfaction
4.0    6360
2.0    5840
3.0    5823
1.0    5451
5.0    4423
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Job_Satisfaction = Job_Satisfaction
2.0    24783
5.0    22812
1.0    22324
3.0    21951
4.0    20920
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Sleep_Duration = Sleep_Duration
Less than 5 hours    38784
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------
Dietary_Habits = Dietary_Habits
Moderate     49705
Unhealthy    46227
Healthy      44741
Yes              2
No               2
Name: count, dtype: int64
----------------------------------------------------------------------------------------------------

In [84]:
# addressing the missing values here
df_train['Profession'].fillna(df_train['Profession'].mode()[0],inplace=True)
df_train['Academic_Pressure'].fillna(df_train['Academic_Pressure'].mean(),inplace=True)
df_train['Work_Pressure'].fillna(df_train['Work_Pressure'].mean(),inplace=True)
df_train['CGPA'].fillna(df_train['CGPA'].median(),inplace=True)
df_train['Job_Satisfaction'].fillna(df_train['Job_Satisfaction'].mean(),inplace=True)
df_train['Study_Satisfaction'].fillna(df_train['Study_Satisfaction'].mean(),inplace=True)
df_train['Dietary_Habits'].fillna(df_train['Dietary_Habits'].mode()[0],inplace=True)
df_train['Degree'].fillna(df_train['Degree'].mode()[0],inplace=True)
df_train['Financial_Stress'].fillna(df_train['Financial_Stress'].mean(),inplace=True)

In [ ]:
# now for the anomaies in the certain columns
# for numeric removing
df_train = df_train[~df_train['Dietary_Habits'].str.isnumeric()].reset_index(drop=True)
# for not needed data
valid_habits = df_train['Dietary_Habits'].value_counts().nlargest(3).index
df_train = df_train[df_train['Dietary_Habits'].isin(valid_habits)]s